* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: rgb(117, 233, 241);
    background-color: #000000;
    
}

.content {
    width: 60rem;
    height: 52rem;
    border: .20rem solid;
    padding: 5rem 5.7rem;    
    background-image: url("/assets/galaxy.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #000000;
    border-image: linear-gradient(to right, cyan, purple, pink);
    border-image-slice: 1;
    box-sizing: border-box;
}

main h2 {
    margin-top: 3rem;
}

input[type="text"] {
    padding: 10px;
    width: 28rem;
    border: 0.20rem solid;
    margin-top: 4rem;
    border-image: linear-gradient(to right, cyan, purple, pink);
    border-image-slice: 1;
    box-sizing: border-box;
}

input[type="button"] {
    padding: 10px;
    width: 7rem;
    color: white;
    background-color: rgb(255, 191, 202);
    border: 0.20rem solid;
    border-radius: 3rem;
    margin-top: 1rem;
    box-sizing: border-box;
}

#message {
    margin-top: 5rem;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
